.drawer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.drawerPaper {
    width: 75%;
}

.nested {
    padding-left: 0.5rem;
}

.menuButton {
    align-items: center;
    background-color: #387DC7;
    border-radius: 50%;
    display: flex;
    height: 48px;
    justify-content: center;
    left: 2rem;
    position: fixed;
    top: 5rem;
    width: 48px;
    z-index: 1301;
}

.listItem {
    padding-bottom: 4px;
    padding-top: 4px;
}

.drawerPaper .resetButton {
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0.7rem;
    padding: 1rem;
    width: 94%;
}

.resetButtonSeparator {
    border-top: 1px solid #ccc;
    margin: 40px 0;
}

@media (max-width: 374px) {
    .drawer {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    .menuButton {
        align-items: center;
        background-color: #387DC7;
        border-radius: 50%;
        display: flex;
        height: 40px;
        justify-content: center;
        left: 1rem;
        position: fixed;
        top: 4rem;
        width: 40px;
        z-index: 1301;
    }

    .listItem {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .drawerPaper {
        width: 60%;
    }
}

@media (max-width: 575.98px) {
    .drawer {
        width: 75%;
    }

    .menuButton {
        height: 40px;
        left: 1rem;
        top: 4rem;
        width: 40px;
    }

    .listItem {
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .drawerPaper {
        width: 60%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .drawer {
        width: 200px;
    }

    .menuButton {
        height: 40px;
        left: 1rem;
        top: 4rem;
        width: 40px;
    }

    .listItem {
        padding-bottom: 2px;
        padding-top: 2px;
    }

    .drawerPaper {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .drawer {
        width: 240px;
    }

    .menuButton {
        height: 48px;
        left: 2rem;
        top: 5rem;
        width: 48px;
    }

    .listItem {
        padding-bottom: 4px;
        padding-top: 4px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .drawer {
        width: 260px;
    }

    .menuButton {
        height: 52px;
        left: 2.5rem;
        top: 5.5rem;
        width: 52px;
    }

    .listItem {
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

@media (min-width: 1200px) {
    .drawer {
        width: 280px;
    }

    .menuButton {
        height: 56px;
        left: 3rem;
        top: 6rem;
        width: 56px;
    }

    .listItem {
        padding-bottom: 6px;
        padding-top: 6px;
    }
}