.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    padding: 10px;
    height: 100%;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.cardMedia {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.card:hover .overlay,
.card:focus-within .overlay {
    display: block;
}

.productName {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.inputField {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: white !important;
}

.productDetails {
    flex-grow: 1;
    text-align: center;
    width: 100%;
}

.productQuantity {
    font-size: 1rem !important;
}

.unitTypeSelect {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}