.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Asegúrate de que las tarjetas tengan espacio entre los elementos */
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 30px;
    max-height: 400px;
    /* Ajusta la altura máxima si es necesario */
    height: 100%;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.cardMedia {
    width: 100%;
    height: 200px;
    /* Ajusta la altura de la imagen */
    object-fit: cover;
    /* Asegúrate de que la imagen mantenga su proporción */
    border-radius: 5px;
    background-color: #f0f0f0;
    position: relative;
}

.productNameOverlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.productDetails {
    flex-grow: 1;
    text-align: left;
    width: 100%;
    margin-top: 10px;
}

.productName {
    font-size: 1rem !important;
    text-align: center;
}

.productQuantity {
    font-size: 1.1rem !important;
    color: darkslateblue;
    font-weight: bold !important;
    margin-top: 10px !important;
    text-align: -webkit-center;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.card:hover .overlay,
.card:focus-within .overlay {
    display: block;
}

.inputField {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.unitTypeSelect {
    width: 100%;
    position: static !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

@media print {
    .card {
        page-break-inside: avoid;
        border: 1px solid #000;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .cardMedia {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        background-color: #f0f0f0;
        position: relative;
    }

    .cardContent {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .productDetails {
        flex-grow: 1;
        text-align: left;
        width: 100%;
        margin-top: 10px;
    }

    .productName {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .productQuantity {
        font-size: 1rem !important;
    }

    .overlay {
        display: none;
    }

    .inputField,
    .unitTypeSelect {
        display: none;
    }
}