.productListContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 8rem auto;
    padding: 20px;
}

.productItemWrapper {
    display: flex;
    flex: 1 1 calc(25% - 30px);
    justify-content: center;
}

.card {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 300px;
    padding: 10px;
    position: relative;
}

.cardMedia {
    border-radius: 5px;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.cardMedia img {
    height: auto;
    object-fit: cover;
    width: 100%;
}

.cardContent {
    text-align: center;
}

.productDetails {
    flex-grow: 1;
    text-align: left;
    width: 100%;
}

.productName {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.productQuantity {
    font-size: 1rem;
}

.overlay {
    bottom: 50%;
    box-sizing: border-box;
    color: white;
    display: none;
    left: 50%;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.card:hover .overlay,
.card:focus-within .overlay {
    display: block;
}

.inputField {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.unitTypeSelect {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.actions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
}

@media (max-width: 575.98px) {
    .buttonContainer {
        flex-direction: column;
    }

    .productItemWrapper {
        flex: 1 1 100%;
    }

    .card {
        max-width: 100%;
        width: 100%;
    }

    .productName {
        font-size: 0.7rem;
    }

    .productQuantity {
        font-size: 0.9rem;
    }

    .cardMedia img {
        height: 196px;
        object-fit: contain;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .productItemWrapper {
        flex: 1 1 calc(50% - 30px);
    }

    .card {
        max-width: 100%;
        width: 100%;
    }

    .cardMedia img {
        height: 235px;
        object-fit: contain;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .productItemWrapper {
        flex: 1 1 calc(33.333% - 30px);
    }

    .card {
        max-width: 100%;
        width: 100%;
    }

    .cardMedia img {
        height: 294px;
        object-fit: contain;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .productItemWrapper {
        flex: 1 1 calc(25% - 30px);
    }

    .card {
        max-width: 100%;
        width: 100%;
    }

    .cardMedia img {
        height: 392px;
        object-fit: contain;
        width: 100%;
    }
}