.productListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.card {
    flex: 1 1 calc(32% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    max-height: 300px;
    height: 100%;
    position: relative;
}

.cardMedia {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.cardContent {
    text-align: center;
}

.productDetails {
    flex-grow: 1;
    text-align: left;
    width: 100%;
}

.productName {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.productQuantity {
    font-size: 1rem;
}

.overlay {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 100%;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.card:hover .overlay,
.card:focus-within .overlay {
    display: block;
}

.inputField {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.unitTypeSelect {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}