.summaryContainer {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.resetButton {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px;
    width: 100%;
}

.downloadButton {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 20px;
}

.homeButton {
    background-color: #4caf50;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 20px;
}

.buttonContainer>button {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 10px;
    padding: 1rem;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    max-width: 300px;
    padding: 20px;
    position: relative;
}

.cardMedia {
    border-radius: 5px;
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.cardMedia img {
    height: 100%;
    width: 100%;
}

.cardContent {
    text-align: center;
    width: 100%;
}

.productDetails {
    flex-grow: 1;
    text-align: left;
    width: 100%;
}

.productDetails .productNameOverlay {
    -webkit-box-orient: vertical;
    border-radius: 5px;
    color: black;
    display: -webkit-box;
    font-size: 1.5rem;
    font-weight: bold;
    left: 10px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: 10px;
}

.productNameOverlay {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: black;
    display: -webkit-box;
    font-size: 1.5rem;
    font-weight: bold;
    left: 10px;
    line-clamp: 1;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 10px;
}

.productName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.card .productName {
    display: inline-block;
    font-size: 1rem;
    max-width: 100%;
    max-width: 30ch;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card .productQuantity {
    color: #005082;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1.5rem;
    text-align: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    box-sizing: border-box;
    color: white;
    display: none;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.card:hover .overlay,
.card:focus-within .overlay {
    display: block;
}

.inputField {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

.unitTypeSelect {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    width: 100%;
}

.actions {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
}

@media (max-width: 400px) {
    .buttonContainer {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

@media print {
    .card {
        height: auto;
        margin-bottom: 20px;
        page-break-inside: avoid;
    }

    .cardMedia {
        background-color: white;
        border-radius: 5px;
        height: auto;
        object-fit: contain;
        position: relative;
        width: 100%;
    }

    .cardContent {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }

    .productDetails {
        flex-grow: 1;
    }

    .productName {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .productQuantity {
        font-size: 1rem;
    }

    .overlay {
        display: none;
    }

    .inputField,
    .unitTypeSelect {
        display: none;
    }
}

.productCard {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    width: 100%;
}

.productImage {
    border-radius: 5px;
    height: 200px;
    object-fit: scale-down;
    position: relative;
    width: 100%;
}

.productCard .productName {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.productCard .productQuantity {
    font-size: 1rem;
    text-align: center;
}

.productCard .cardContent {
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 575.98px) {
    .buttonContainer {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
        width: 100%;
    }

    .productName {
        font-size: 0.7rem;
    }

    .productQuantity {
        font-size: 0.9rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card {
        max-width: 400px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        max-width: 400px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .card {
        max-width: 400px;
        width: 100%;
    }
}