.appContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainContent {
    background: linear-gradient(135deg, #e0eafc 0%, #314157 100%);
    flex-grow: 1;
    padding-top: 64px;
    width: 100%;
}

.appBarContent {
    align-items: center;
    width: 100%;
    z-index: 1300;
}

.toolbar {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 64px;
    width: 80%;
}

.title {
    flex-grow: 1;
    margin-left: 1rem;
    text-align: center;
}

.menuButton {
    margin-right: 16px;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
    width: 100%;
}

.search {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    color: white;
    max-width: 300px;
    position: relative;
    width: 100%;
}

.searchIcon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding-left: 0.5rem;
    pointer-events: none;
    position: absolute;
}

.inputRoot .inputInput {
    color: inherit;
    margin-left: 3rem;
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.buttonContainer .commonButton {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 2rem;
    width: 100%;
}

.buttonContainer .resetButton {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 40px;
    width: 100%;
}

.buttonContainer .downloadButton {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 20px;
}

.appContainer .mainContent .buttonContainer .homeButton {
    background-color: #4caf50;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 20px;
}

.arrowButton .scrollTop {
    bottom: 20px;
    display: flex;
    position: fixed;
    right: 20px;
    z-index: 1000;
}

.arrowButton {
    background-color: #4caf50;
    color: white;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 16px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 8px 12px rgba(0, 0, 0, 0.1),
        0 12px 24px rgba(0, 0, 0, 0.1),
        0 16px 32px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575.98px) {
    .toolbar {
        align-items: center;
        flex-direction: column;
    }

    .search {
        margin: 0.5rem 0;
        max-width: 100%;
    }

    .title {
        font-size: 1.2rem;
    }

    .buttonContainer {
        flex-direction: column;
    }

    .verResumenButton {
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .toolbar {
        align-items: center;
        flex-direction: column;
    }

    .search {
        margin: 0.5rem 0;
        max-width: 100%;
    }

    .title {
        font-size: 1.4rem;
    }

    .buttonContainer {
        flex-direction: column;
    }

    .verResumenButton {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .toolbar {
        align-items: center;
        flex-direction: row;
    }

    .search {
        margin: 0;
        max-width: 300px;
    }

    .title {
        font-size: 1.6rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .toolbar {
        align-items: center;
        flex-direction: row;
    }

    .search {
        margin: 0;
        max-width: 300px;
    }

    .title {
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {
    .toolbar {
        align-items: center;
        flex-direction: row;
    }

    .search {
        margin: 0;
        max-width: 300px;
    }

    .title {
        font-size: 2rem;
    }
}