.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContent {
    flex-grow: 1;
    padding-top: 64px;
    width: 100%;
}

.appBarContent {
    z-index: 1300;
    width: 100%;
    align-items: center;
}

.toolbar {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-content: center;
    flex-wrap: wrap;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.menuButton {
    margin-right: 16px;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.search {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    max-width: 300px;
    margin: auto 4rem;
    color: white;
}

.searchIcon {
    padding-left: 0.5rem;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputRoot {
    color: inherit;
    width: 100%;
    margin-left: 2.5rem;
}

.inputInput {
    padding: 4px 4px 4px 20px;
    width: 100%;
    color: white;
    font-size: 1rem;
}

.verResumenButton {
    background-color: #FFEE00E4;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
    width: auto;
    position: absolute;
    right: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.buttonContainer .commonButton {
    margin: 10px;
    background-color: gold;
    color: black;
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonContainer .resetButton {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: gold;
    color: white;
    width: 100%;
    padding: 40px;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonContainer .downloadButton {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonContainer .homeButton {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #4caf50;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonContainer>button {
    margin: 0 10px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.arrowButton .scrollTop {
    position: fixed;

    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
}

    {
    display: flex;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Media Queries */

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .toolbar {
        flex-direction: column;
        align-items: center;
    }

    .search {
        max-width: 100%;
        margin: 0.5rem 0;
    }

    .title {
        font-size: 1.2rem;
    }

    .buttonContainer {
        flex-direction: column;
    }

    .verResumenButton {
        margin-top: 10px;
    }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .toolbar {
        flex-direction: column;
        align-items: center;
    }

    .search {
        max-width: 100%;
        margin: 0.5rem 0;
    }

    .title {
        font-size: 1.4rem;
    }

    .buttonContainer {
        flex-direction: column;
    }

    .verResumenButton {
        margin-top: 10px;
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .toolbar {
        flex-direction: row;
        align-items: center;
    }

    .search {
        max-width: 300px;
        margin: 0;
    }

    .title {
        font-size: 1.6rem;
    }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .toolbar {
        flex-direction: row;
        align-items: center;
    }

    .search {
        max-width: 300px;
        margin: 0;
    }

    .title {
        font-size: 1.8rem;
    }
}

/* Extra large devices (extra large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .toolbar {
        flex-direction: row;
        align-items: center;
    }

    .search {
        max-width: 300px;
        margin: 0;
    }

    .title {
        font-size: 2rem;
    }
}